div.container
    div.template-container
        h1.game-banner
            img(src="http://mymym.com/wp-content/uploads/2013/11/cs-go-big-banner-announcement1.jpg")
        div.teams
            div.team1 AYBC
                table
                    tr
                        td {{aybc.name.1}}
                    tr
                        td {{aybc.name.2}}
                    tr
                        td {{aybc.name.3}}
                    tr
                        td {{aybc.name.4}}
                    tr
                        td {{aybc.name.5}}
            div.team2 WRC
                table
                    tr
                        td {{wrc.name.1}}
                    tr
                        td {{wrc.name.2}}
                    tr
                        td {{wrc.name.3}}
                    tr
                        td {{wrc.name.4}}
                    tr
                        td {{wrc.name.5}}
        div.time-to-match
            h3.clock {{cs1|date:'dd'}} days {{cs1|date:'HH'}}hr {{cs1|date:'mm'}}min {{cs1|date:'ss'}}s

    div.template-container
        h1.game-banner
            img(src="http://i.imgur.com/FZu5Uxz.jpg")
        div.teams
            div.team1 ePC
                table
                    tr
                        td Test
                    tr
                        td Test
                    tr
                        td Test
                    tr
                        td Test
                    tr
                        td Test
            div.team2 vSk
                table
                    tr
                        td Test
                    tr
                        td Test
                    tr
                        td Test
                    tr
                        td Test
                    tr
                        td Test
        div.time-to-match
            h3.clock {{dota1|date:'dd'}} days {{dota1|date:'HH'}}hr {{dota1|date:'mm'}}min {{dota1|date:'ss'}}s

    div.template-container
        h1.game-banner
            img(src="http://i.imgur.com/D1jqsFk.png")
        div.teams
            div.team1 AYBC
                table
                    tr
                        td Test
                    tr
                        td Test
                    tr
                        td Test
                    tr
                        td Test
                    tr
                        td Test
            div.team2 WRC
                table
                    tr
                        td Test
                    tr
                        td Test
                    tr
                        td Test
                    tr
                        td Test
                    tr
                        td Test
        div.time-to-match
            h3.clock {{lol1|date:'dd'}} days {{lol1|date:'HH'}}hr {{lol1|date:'mm'}}min {{lol1|date:'ss'}}s
    div.template-container
        h1.game-banner
            img(src="http://mymym.com/wp-content/uploads/2013/11/cs-go-big-banner-announcement1.jpg")
        div.teams
            div.team1 AYBC
                table
                    tr
                        td Test
                    tr
                        td Test
                    tr
                        td Test
                    tr
                        td Test
                    tr
                        td Test
            div.team2 WRC
                table
                    tr
                        td Test
                    tr
                        td Test
                    tr
                        td Test
                    tr
                        td Test
                    tr
                        td Test
        div.time-to-match
            h3.clock {{cs2|date:'dd'}} days {{cs2|date:'HH'}}hr {{cs2|date:'mm'}}min {{cs2|date:'ss'}}s

    div.template-container
        h1.game-banner
            img(src="http://i.imgur.com/FZu5Uxz.jpg")
        div.teams
            div.team1 AYBC
                table
                    tr
                        td Test
                    tr
                        td Test
                    tr
                        td Test
                    tr
                        td Test
                    tr
                        td Test
            div.team2 WRC
                table
                    tr
                        td Test
                    tr
                        td Test
                    tr
                        td Test
                    tr
                        td Test
                    tr
                        td Test
        div.time-to-match
            h3.clock {{dota2|date:'dd'}} days {{dota2|date:'HH'}}hr {{dota2|date:'mm'}}min {{dota2|date:'ss'}}s

    div.template-container
        h1.game-banner
            img(src="http://i.imgur.com/D1jqsFk.png")
        div.teams
            div.team1 AYBC
                table
                    tr
                        td Test
                    tr
                        td Test
                    tr
                        td Test
                    tr
                        td Test
                    tr
                        td Test
            div.team2 WRC
                table
                    tr
                        td Test
                    tr
                        td Test
                    tr
                        td Test
                    tr
                        td Test
                    tr
                        td Test
        div.time-to-match
            h3.clock {{lol2|date:'dd'}} days {{lol2|date:'HH'}}hr {{lol2|date:'mm'}}min {{lol2|date:'ss'}}s
