html body {
  background-color: #ABB7B7;
}
.container {
  height:100vh;
}
.template-container {
  background-color: #ECF0F1;
  width:31%;
  height:46vh;
  margin:1vh 1vw;
  display: inline-block;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
.game-banner {
  width:100%;
}
.game-banner img {
  width:85%;
  height:10vh;
  display:block;
  margin-left:auto;
  margin-right:auto;
  background-repeat:no-repeat;
  background-size:contain;
}
.teams {
  display: block;
  width:85%;
  height:25vh;
  margin-left:auto;
  margin-right:auto;
  background-color:#ffffff;
}
.team1 {
  float:left;
}
.team2 {
  float:right;
}
.time-to-match {
  width:85%;
  background-color:#EEEEEE;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.clock {
  text-align: center;
}